@use '@/styles/colors.scss';
@use '@/styles/mixins.scss';
@use "sass:color";

.result__score {
    width: 9.5em;
    height: 9.5em;
    padding: 1em;
    border-radius: 50%;
    font-size: .85rem;
    font-weight: 500;
    margin: .55em 0;
    color: rgba(colors.$white, 50%);
    @include mixins.center-grid;
    background: linear-gradient(   
      color.mix(colors.$violetBlue, rgba(#000, 0.6)) 5%, 
      rgba(colors.$persianBlue, 0.4) 80%, 
      color.mix(rgba(colors.$violetBlue, 0.1), rgba(colors.$persianBlue, 0.1)) 100%
  );
}

.result__number {
    font-size: 4rem;
    color: colors.$white;
    margin-bottom: -.2em;
}