@use '@/styles/colors.scss';
@use '@/styles/mixins.scss';

.result{
    line-height: 1.5;
    padding: 1.5em 0 1.3em;
    color: colors.$white;
    border-radius: 0 0 30px 30px;
    @include mixins.center-grid;
    background-image: linear-gradient(colors.$lightSlateBlue, colors.$lightRoyalBlue);

    &__title {
        font-size: clamp(1rem, 0.93rem + 0.3vw, 1.2rem);
        font-weight: 800
    }

    &__label {
        font-size: clamp(1.3rem, 1.23rem + 0.3vw, 1.5rem);
        font-weight: 800;
    }

    &__description {
        text-align: center;
        font-size: clamp(0.87rem, 0.842rem + 0.12vw, 0.95rem);
        font-weight: 500;
        letter-spacing: .03em;
        padding: .5em 4em;
    }
}

@media (min-width: 1024px) {
    .result {
        border-radius: 25px;
    }
  }
  